<!DOCTYPE HTML>
<!--
	By Mathusan Chandramohan, Victor Zhong, Kleard Mama, Sangwoo Han
-->
<html>
	<head>
		<title>Satellites</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../static/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="#top">Sat Gazing</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
				</ul>
			</nav>

		

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Satellites</h2>
						<form action="/generate" method="post">
							<!--Tableau de Kleard-->
							<div class="wrapper">
								<div class="profile">
								   <table id= "userdata" border="2">
								  <thead>
											<th>Satellite Name</th>
											<th>First Sighting</th>
											<th>Last Sighting</th>
											<th>Sight Duration (s)</th>
											<th>First Azimuth</th>
											<th>First Elevation</th>
											<th>Last Azimuth</th>
											<th>Last Elevation</th>
										</thead>
									  <tbody>
								
									   </tbody>
								   </table>
								
								</div>
							</div>
							<!--Mon Tableauu-->
							<div>
								<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
								<script>
									$.UseCors(builder => builder
									.AllowAnyOrigin()
									.AllowAnyMethod()
									.AllowAnyHeader())
									$.getJSON('../static/output.json', function(data) {
										console.log('it worked');
									});
								</script>
							</div>
						</form>
					</header>
					 
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div style="color:#D3D3D3" class="inner">
					<h2>The marvels of space in your field of vision</h2>
					<p>Space and its satellites are beautiful. Our goal is to bring the awe from the the satellites orbiting the Earth to you.
					By using NASA and N2Yo's APIs, we can give you a list of all the satellites visible in you field of vision
					depending on your location and the current day. Click on a satellite for more information. </p>
				</div>
			</section>

		<!-- Testimonials -->
		
		<!-- Footer -->
		<footer id="footer">
			<section>
				<a href="#"><p style="text-align:center">Top of the Page</p></a>
			</section>
		</footer>


		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>


	</body>
</html>