<!DOCTYPE HTML>
<!--
	By Mathusan Chandramohan, Victor Zhong, Kleard Mama, Sangwoo Han
-->
<html>
	<head>
		<title>Satellites</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../static/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="#top">Sat Gazing</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
				</ul>
			</nav>

		

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2><b>Satellites</b></h2>
						<form action="/generate" method="post">

							<!--Mon Tableauu-->
							<div>
								<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
								<script src="../tablo.js"></script>
								<div id="app"></div>
								<script>
									document.getElementById("app").innerHTML=`
									<h3> ${txt.length} results </h3>
									${txt.map(function(sat) {

										return `<div class="animal">
													<h2>${sat.satname}</h2>
													<div style="text-align: left"
													<br><u><b>First Sighting:</b></u> ${sat.startTime}
													<br><u><b>Last Sighting:</b></u>  ${sat.endTime}
													<br><u><b>Sight Duration:</b></u> ${sat.duration}
													<br><u><b>Start Azimuth:</b></u>  ${sat.startAz}
													<br><u><b>End Azimuth:</b></u>    ${sat.endAz}
													<br><u><b>Start Elevation:</b></u>${sat.startEl}
													<br><u><b>Last Elevation:</b></u> ${sat.endEl}
													<br><u><b>Launch Date:</b></u>    ${sat.launchDate}
													<br><u><b>Short Description:</b></u> ${sat.description}
													</div>
												</div>
												`
									}).join(' ')}
									`
								</script>
							</div>
						</form>
					</header>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div style="color:#D3D3D3" class="inner">
					<h2>The marvels of space in your field of vision</h2>
					<p>Space and its satellites are beautiful. Our goal is to bring the awe from the the satellites orbiting the Earth to you.
					By using NASA and N2Yo's APIs, we can give you a list of all the satellites visible in you field of vision
					depending on your location and the current day. Click on a satellite for more information. </p>
				</div>
			</section>

		<!-- Testimonials -->

		<!-- Footer -->
		<footer id="footer">
			<section>
				<a href="#"><p style="text-align:center">Top of the Page</p></a>
			</section>
		</footer>


		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>


	</body>
</html>